html, body{
	background:  #04c3f4;
	
	margin: 0;
	padding: 0;
	display: block;

	}


.img-wrapper{
	height: 91vh;
	transition: .5s all ease;
	background: url('loans kredit.jpg');
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
    height: 600px;
	
}

.justbox:hover > .img-wrapper{
	opacity: 1;

}



.img{
	height: 50px;
	width: 20%;
	display: inline-block;
	margin: 10px 0 0 0;
	z-index: 155;
	position: absolute;
	top: 0;
}


.tel{
	margin: 15px 15px 10px 10px;
    z-index: 155;
    display: inline-block;
    position: absolute;
    top: 0;

}

.img33{
	width: 100%;
	height: inherit;
	position: relative;
	opacity: 0;

}


.valyuta{
	position: absolute;
	right: 0;
	top: 0;
	margin: 20px 30px 0 0;
	z-index: 155;

}


.kartlar{
	width: 100%;
	height: 600px;
	background-image: url("k.jpg.jpg");
	transition: 0.5s all ease;


}

.img33:hover{
	opacity: 1;
}



.logo{
	position: absolute;
	z-index: 33;
	top: 0;
	width: 169px;
    height: 109px;
    margin-left: 34px;
    margin-top: 15px;
}








.emanet{
	
	
	background: url('inst emanet.jpg');
	opacity: 0;
	// position: absolute;
	// top: 0;
	width: 100%;
    height: 600px;
   transition: .5s all ease;
}

.justbox:hover > .emanet{
	opacity: 1;

}

.online{
	height: 600px;
	transition: .5s all ease;
	background: url('oglan online.jpg');
	opacity: 0;
	// position: absolute;
	
	width: 100%;
    border-right: 1px dashed white;

}
.justbox{
    border-left: 1px dashed white;
}
.justbox:hover > .online{
	opacity: 1;
}

.korporativ{
	height: 600px;
	width: 100%;
	background: url('korporativ transfer.jpg');
	position: absolute;
	top: 0;
	opacity: 0;
	

}

.justbox:hover > .korporativ{
	opacity: 1;
}



a{
	
	color: white;
	text-decoration: underline;
	font-family: arial;

}

.ura{
	margin-top: 10px
}

.emanet a{
	color: white;
	text-decoration: underline;
	z-index: 155;
	

}


.internet{
	position: absolute;
	float: right;
	margin-left: 65px;
    margin-top: 20px;
	z-index: 33;
}

.onlayn{
	position: absolute;
	float: right;
	margin-left: 65px;
    margin-top: 23px;
	color: white;
	text-decoration: underline;
	z-index: 155;
	cursor: pointer;
}

.all{
	width: 185px;
    margin-left: 20px;
    margin-top: 10px;
}


.relative{
	position: relative;

}
.button{
	background: url(home-all.png) no-repeat;
    width: 201px;
    height: 44px;
    padding: 7px 0 0 12px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    position: absolute;
    top:30px;
    left: 37px;
    font-family: arial;
    position: absolute;
    z-index: 155;
}


.lang{
 	position: absolute;
    top: 100px;
 	margin-left: 25px;
 	list-style-type: none;
 	display: inline-block;
 	z-index: 155;
}


.lang li{

 	display: inline-block;

}


.lang a{
	font-size: 15px;
	color: white;
	font-family: arial;
	text-decoration: underline;
	cursor: pointer;

  
}

.aktiv{
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	color: red;
	display: inline-block;
	padding: 4px;

}


li .aktiv {
	
	color: #04c3f4;
}

.social{
	
 	display: inline-block;
 	cursor: pointer;
 	line-height: 16px;
 	font-size: 40px;

	

}

.input{
	border-radius: 10px;
    height: 30px;
}

.button3{
	margin-left: 185px;
    margin-top: -53px;
    height: 30px;
    cursor: pointer;
	display: inline-block;

}

.kopi{
	margin-top: 22px;
}

.copy{
	color: white;
	font-family: arial;

}

p{
	color: #04c3f4;
	font-family: arial;
	
}

.round1{
	position: absolute;
	background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-left: 30px;
    z-index: 33;
}

.round1 img{
	height: 82px;
    margin-left: 13px;
    margin-top: 5px;

}

.round1 p{
	font-size: 23px;
    margin-top: 17px;
    font-family: arial;
}



.round2{
	position: absolute;
	background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-left: 30px;
    z-index: 33;
   
}

.round2 img{
	height: 82px;
    margin-left: 1px;
    margin-top: 5px;

}

.round2 p{
	font-size: 23px;
    margin-top: 17px;
        font-family: arial;
}

.round3{
	position: absolute;
	background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-left: 30px;
    z-index: 33;
   
}

.round3 img{
	    height: 82px;
    margin-left: 1px;
    margin-top: 5px;

}

.round3 p{
	font-size: 23px;
    margin-top: 17px;
        font-family: arial;
}

.round4{
	position: absolute;
	background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-left: 30px;
    z-index: 33;
   
}

.round4 img{
	    height: 82px;
    margin-left: 1px;
    margin-top: 5px;

}

.round4 p{
	font-size: 22px;
    margin-top: 17px;
    line-height: 0.8;
        font-family: arial;
}

.round5{
	position: absolute;
	background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-left: 30px;
    z-index: 33;
   
}

.round5 img{
	    height: 82px;
    margin-left: 12px;
    margin-top: 5px;
    cursor: pointer;

}

.round5 p{
	font-size: 22px;
    margin-top: 17px;
    line-height: 0.8;
    font-family: arial;
}

#main .main1{
	border-left: 1px dashed white;
}

// #main .main2{
// 	border-left: 1px dashed white;
// }

#main .main5{
	border-left: 1px dashed white;
}


.carousel{
	    width: 925px;
    height: 157px;
    position: absolute;
    top: 415px;
    left: 16%;
    z-index: 2;
    cursor: pointer;
    // overflow: hidden;
}

.caro1{
	width: 480px;
    height: 155px;
    z-index: 2;
    cursor: pointer;
    background: red;
    display: inline-block;
    float: left;
    -webkit-transition: width 1s;
    position: absolute;
    left: 0px;
    top: 0px;


}


#img{
    // width: 100%;
    height: inherit;
   }
.caro2{
	width: 480px;
    height: 150px;
    z-index: 2;
    cursor: pointer;
    background: blue;
    display: inline-block;
    -webkit-transition: width 1s;
    position: absolute;
    left: 480px;
}

.caro3{
	width: 480px;
    height: 150px;
    z-index: 2;
    cursor: pointer;
    background: green;
    display: inline-block;
    -webkit-transition: width 1s;
    position: absolute;
    left: 636px;
}

.caro4{
	width: 480px;
    height: 150px;

    z-index: 2;
    cursor: pointer;
    background: yellow;
    display: inline-block;
    -webkit-transition: width 1s;
    position: absolute;
    left: 786px;
}

.caro5{
	width: 480px;
    height: 150px;
    z-index: 2;
    cursor: pointer;
    background: pink;
    display: inline-block;
    -webkit-transition: width 1s;
    position: absolute;
    left: 942px;
}


// .banner{
// 	width: 925px;
//     height: 157px;
//     position: absolute;
//     top: 61%;
//     left: 16%;
//     z-index: 2;
//     cursor: pointer;
//     background: red
// }

.left{
	position: absolute;
	width: 75px;
    height: 45px;
    top:50px;
    left: -40px;
    z-index:9999;
    cursor: pointer;
    display: block;
}

.right{
	position: absolute;
    width: 75px;
    height: 45px;
    top:200px;
    right: -8%;
    z-index: 155;
    cursor: pointer;
    display: block;
}

.page1{
	width: 950px;
    height: 500px;
    background: #0068a7;
    margin: 30px auto;
    border-radius: 7px;
    padding-left: 10px;
    position: absolute;
    left: 200px;
    top: -655px;
    opacity: 1;
}

.ust{
	width: 100%;
    height: 50px;
    margin-top: 3px;
    background: #0068a7;
}

.all2{
	width: 42%;
    height: 26px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 5px #0068a7 inset;
    line-height: 26px;
    background: #ffffff;
    padding: 0 16px;
    cursor: pointer;
    margin-bottom: 24px;
    font-size: 12px;
    color: #4194c6;
}

.first2div {
    width: 100%;
    height: 150px;
}

.bowluqIcon {
    width: 11%;
    height: 120px;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #4194c6;
    margin-bottom: 20px;
}

.bowluq2 {
    width: 80%;
    height: 120px;
    float: left;
    border-bottom: 1px solid #4194c6;
    margin-bottom: 40px;
}

.icon {
    width: 100%;
    height: 30px;
    display: block;
   	text-align: center;
}



ul {
    padding: 0px;
    color: white;
}





.firstLi {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 5px;
}


.secondLi {
    list-style: none;
    margin-top: 10px;
    margin-left: 5px;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover{
  color: white;
     text-decoration: none; 
}

.bowluqIcon2 {
    width: 11%;
    height: 220px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

.icon2 {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
}

.bowluq3 {
    width: 80%;
    height: 220px;
    float: left;
    
}

.col1 {
    width: 100%;
    height: 380px;
    border-right: 1px solid #4194c6;
}

.ust2 {
    width: 100%;
    height: 50px;
    margin-top: 4px;
    background: #0068a7;
}


.bowluqIcon3 {
    width: 11%;
    height: 220px;
    display: inline-block;
    float: left;
}

.bowluq3 {
    width: 80%;
    height: 220px;
    float: left;
    
}


.icon3 {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
}
.icon4 {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
}


.cixish {
    width: 8%;
    height: 22px;
    float: right;
    cursor: pointer;
}

.butun {
    float: right;
    margin-right: 18px;
    font-size: 20px;
    color: white;
    font-family: arial;
    margin-top: -5px;
}

.col2 {
    width: 100%;
    height: 380px;
}

.bowluqIcon4 {
    width: 11%;
    height: 220px;
    display: inline-block;
    float: left;
}




.slayd{

    width: 800px;
    height: 150px;
    background: red;
    position: absolute;
    top: 400px;
    left: 300px;
     display: flex;
    align-items:center;
    z-index: 3;
    // overflow: hidden;


}
.lefft{
    width: 65px;
    height: 65px;
    position: absolute;
    left: -40px;
    z-index: 4

}

.rightt{
    width:65px;
    height: 65px;
    position: absolute;
    right: -40px;
    z-index: 4
}

.big{
    width:  440px;
    height: inherit;
    // background: blue;
    overflow: hidden;
    // display: inline-block;
     float: left;
}
.middle{
   width:  180px;
    height: inherit;
    // background: red;
    float: left;
    // display: inline-block;
    overflow: hidden
}

.little{
   width:180px;
    height: inherit;
    // background: pink;
    // display: inline-block;
     float: left;
     overflow: hidden

}
.fokus{
    width: 800px;
    // float: left;
    height: 150px;
    background: yellow;
    overflow: hidden;

}